
*.o
*.exe
Heurísticas e Metaheurísticas/Problema de Planejamento Florestal/main.py
Heurísticas e Metaheurísticas/Problema de Planejamento Florestal/csvInterface.py
Heurísticas e Metaheurísticas/Problema de Planejamento Florestal/calculatorsAndValidators.py
Heurísticas e Metaheurísticas/Problema de Planejamento Florestal/dados.csv
